<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'login:index' %}">blYNCAN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login:index' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login:blogc' %}">Create A New Blog</a>
      </li>

    </ul>
      {% if user.is_authenticated %}
      <form class="form-inline my-2 my-lg-0" action="{% url 'login:list' %}">
          <button class="btn btn-outline-success my-2 my-sn-0">Blogs</button>
      </form>
      <form action="{% url 'login:logout' %}">
          <button class="btn btn-outline-success my-2 my-sn-0">Log Out</button>
      </form>
      {% else %}
      <form action="{% url 'login:logins' %}">
          <button class="btn btn-outline-success my-2 my-sn-0">Sign in</button>
      </form>
      {% endif %}

  </div>
</nav>
{% if user.is_authenticated %}
<div class="container">
<h1 class="text-primary">welcome to the blog {{ user.username }}</h1>
</div>
{% else %}
<div class="container">
<h1>Welcome To The lYNCAN</h1>
    <p>The lYNCAN or just lYNCAN is an organisation which aims for a better development of the society and you can join us simply just by signing up on our official website our aim is for the top.</p>
</div>
{% endif %}
<div class="container">
<h2>
    What it takes to be one of us?
</h2>
    <p>
        Well it's simple, code.
    </p>
    <p>As you can see we are just started, so we need programmers and if you are one you are always welcome.</p>

</div>
<div class="container">
    <h2>What is the purpose of this website?</h2>
    <p>
        The sole purpose of this website is to find programmers and form a community where we all live in harmony and peace and support new ideas, not as a single individual but as a united community
    </p>
</div>
{% if not user.is_authenticated %}
<div class="container">
    <h2>How to join us?</h2>
    <p>You can always join us on our official website just click on the button below to sign up</p>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-outline-success">SignUp!</button>
        </form>
    </div>
</div>
</body>
{% endif %}
</html>