<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>SignUp!</title>
    <link rel="stylesheet" href="{% static 'css/margin.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'login:index' %}">blYNCAN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login:index' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login:blogc' %}">Create A New Blog</a>
      </li>

    </ul>
      {% if user.is_authenticated %}
      <form class="form-inline my-2 my-lg-0" action="{% url 'login:list' %}">
          <button class="btn btn-outline-success my-2 my-sn-0">Blogs</button>

      </form>
      {% else %}
      <form action="{% url 'login:logins' %}">
          <button class="btn btn-outline-success my-2 my-sn-0">Sign in</button>
      </form>
      {% endif %}

  </div>
</nav>
<div class="margin">
<div class="container">
    <div class="row">
<div class="col-lg-6 offset-lg-3 ">
<div class="mx-auto" style="width: 200px;">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Signup">
            <button>Already a user?</button>
</form>
</div>
    </div>
    </div>
</div>
</div>
</body>
</html>